body {
  font-family: "Public Sans", sans-serif;
}

.need-space {
  min-height: 5rem;
  padding: 7.5rem 0;
}

.navbar {
  transition: all 0.2s;
  border: 1px solid transparent;
}

.navbar .navbar-toggler {
  padding: 0;
  border: 0;
  outline: 0;
  box-shadow: unset;
}

.navbar.scrolled {
  border-color: var(--bs-gray-300);
  background: var(--bs-white);
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: var(--bs-border-radius-pill);
  box-shadow: var(--bs-box-shadow);
}

.navbar .nav-link {
  padding: 0.5rem 1rem !important;
}
.navbar .nav-link {
  border-radius: var(--bs-border-radius-pill);
}
.navbar .nav-link.active,
.navbar .nav-link:hover {
  background: var(--bs-primary);
  color: var(--bs-white);
}

.masthead {
  overflow: hidden;
}

.masthead .row {
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .masthead .row {
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.masthead .circle-half {
  position: absolute;
  height: 56px;
}
.masthead .circle-half:first-child {
  top: 0;
  left: 0;
}
.masthead .circle-half:nth-child(3) {
  bottom: 0;
  right: 0;
  height: 96px !important;
  transform: rotate(180deg);
}

.masthead .title {
  font-weight: bold;
  font-size: 3rem;
}
.masthead .desc {
  opacity: 0.75;
  font-size: 1.125rem;
}

@media screen and (max-width: 768px) {
  .masthead .title {
    font-size: 2rem;
  }
  .masthead .desc {
    opacity: 0.75;
    font-size: 1rem;
  }
}

.masthead .image-featured {
  position: relative;
}

.masthead .image-featured .main-featured {
  width: 100%;
}

.masthead .image-featured .featured {
  position: absolute;
  height: 64px;
  top: 0;
  left: 0;
  border-radius: 12px;
  box-shadow: var(--bs-box-shadow);
}

.masthead .image-featured .featured:nth-child(2) {
  right: 0;
  left: unset;
  animation: move-up-down 5s ease-in-out 0s infinite;
}
.masthead .image-featured .featured:nth-child(3) {
  bottom: 24px;
  top: unset;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  animation: move-up-down 5s ease-in-out 2s infinite;
}
.masthead .image-featured .featured:nth-child(4) {
  bottom: 24px;
  top: 7rem;
  left: -5rem;
  animation: move-up-down 5s ease-in-out 4s infinite;
}

@media screen and (max-width: 992px) {
  .masthead .image-featured .featured {
    height: 36px;
    border-radius: 4px;
  }
  .masthead .image-featured .featured:nth-child(4) {
    left: 0;
    top: 5rem;
  }
}

/* Keyframes */
@keyframes move-up-down {
  0% {
    -webkit-transform: translateX(0) translateY(5px);
    transform: translate(0) translateY(5px);
  }

  50% {
    -webkit-transform: translateX(0) translateY(-15px);
    transform: translate(0) translateY(-15px);
  }

  to {
    -webkit-transform: translateX(0) translateY(5px);
    transform: translate(0) translateY(5px);
  }
}
